.AlbumsContainer {
  max-width: 1280px;
  margin: 0 auto;
}

.loading {
  margin: 0 auto;
  padding: 1rem;
}

.Albums {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.EmptyResponseMessage {
  text-align: center;
}
