.Pagination {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.Pagination__btn {
  margin: 1rem;
  padding: 0.5rem;
  background: #a7a3db;
  border: #291bc0 solid 3px;
  border-radius: 0.25rem;
  cursor: pointer;
}

.Pagination__btn img {
  height: 1rem;
}

.hidden {
  visibility: hidden;
}
